extends layout

block content
  h1.my-3 クイズの編集
  h3 利用規約を守って編集してください。
  
  form(method="post", action=`/quiz/${quiz.quizId}?edit=1` id="form")
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      h3 クイズ名
      input(type="text" name="quizName" placeHolder="クイズの名前を入力...（必須）" value=`${quiz.quizName}` size=30 required)
    div.form-group
      h3 問題
      input(type="text" name="question" placeHolder="問題を入力...（必須）" value=`${quiz.question}` size=30 required)
    div 
      h3 答え
      input(type="text", name="answer" placeHolder="答えを入力...（必須）" value=`${quiz.answer}` size=30 required)
    div 
      h3 タグ
      input(type="radio" name="tag" value="html-css-markdown" required)
      span 　HTML/CSS/Markdown
      br
      input(type="radio" name="tag" value="javascript" required)
      span 　JavaScript 
      br
      input(type="radio" name="tag" value="node-js" required)
      span 　Node.js 
      br
      input(type="radio" name="tag" value="python" required)
      span 　Python
      br
      input(type="radio" name="tag" value="java" required)
      span 　Java
      br
      input(type="radio" name="tag" value="c" required)
      span 　C
      br 
      input(type="radio" name="tag" value="c++" required)
      span 　C++
      br
      input(type="radio" name="tag" value="c#" required)
      span 　C#
      br
      input(type="radio" name="tag" value="ruby" required)
      span 　Ruby
      br 
      input(type="radio" name="tag" value="ruby-onrails" required)
      span 　Ruby on Rails
      br 
      input(type="radio" name="tag" value="go" required)
      span 　Go
      br 
      input(type="radio" name="tag" value="php" required)
      span 　PHP
      br
      input(type="radio" name="tag" value="laravel" required)
      span 　Laravel
      br
      input(type="radio" name="tag" value="git-github" required)
      span 　Git/Github
      br 
      input(type="radio" name="tag" value="linux" required)
      span 　Linux
      br
      input(type="radio" name="tag" value="network" required)
      span 　サーバー/ネットワーク
      br
      input(type="radio" name="tag" value="database" required)
      span 　データベース
      br
      input(type="radio" name="tag" value=" security" required)
      span セキュリティ
      br
      input(type="radio" name="tag" value="other" required)
      span 　その他 （これを選択する場合は、「クイズの名前」に、言語などのtagの代わりとなるものを入力してください。）
      input(type="hidden" name="tagvalue" id="tag-value")

    button(type="submit").btn.btn-info 以上の内容でクイズを編集する
  h3 危険な変更
  form(method="post", action=`/quiz/${quiz.quizId}?delete=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    button(type="submit").btn.btn-danger このクイズを削除する
    script(src="/javascripts/jquery-3.6.0.js") 
    script(defer, src="/javascripts/form.js")