extends layout

block content
  h1.my-3 クイズの編集
  h3 利用規約を守って編集してください。
  
  form(method="post", action=`/quiz/${quiz.quizId}?edit=1` id="form")
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      h3 クイズ名
      input(type="text" name="quizname" placeHolder="クイズの名前を入力...（必須）" value=`${quiz.quizName}` size=30 required)
    div.form-group
      h3 問題
      input(type="text" name="question" placeHolder="問題を入力...（必須）" value=`${quiz.question}` size=30 required)
    div 
      h3 答え
      input(type="text", name="answer" placeHolder="答えを入力...（必須）" value=`${quiz.answer}` size=30 required)
    div 
      h3 タグ
      input(type="radio" name="tag" value="html-css-markdown" required)
      span 　HTML/CSS/Markdown
      br
      input(type="radio" name="tag" value="Javascript" required)
      span 　JavaScript 
      br
      input(type="radio" name="tag" value="Node.js" required)
      span 　Node.js 
      br
      input(type="radio" name="tag" value="Python" required)
      span 　Python
      br
      input(type="radio" name="tag" value="Java" required)
      span 　Java
      br
      input(type="radio" name="tag" value="C" required)
      span 　C
      br 
      input(type="radio" name="tag" value="C++" required)
      span 　C++
      br
      input(type="radio" name="tag" value="C#" required)
      span 　C#
      br
      input(type="radio" name="tag" value="Ruby" required)
      span 　Ruby
      br 
      input(type="radio" name="tag" value="Ruby-on-rails" required)
      span 　Ruby on Rails
      br 
      input(type="radio" name="tag" value="Go" required)
      span 　Go
      br 
      input(type="radio" name="tag" value="PHP" required)
      span 　PHP
      br
      input(type="radio" name="tag" value="Laravel" required)
      span 　Laravel
      br
      input(type="radio" name="tag" value="Git-Github" required)
      span 　Git/Github
      br 
      input(type="radio" name="tag" value="Linux" required)
      span 　Linux
      br
      input(type="radio" name="tag" value="Network" required)
      span 　サーバー/ネットワーク
      br
      input(type="radio" name="tag" value="Database" required)
      span 　データベース
      br
      input(type="radio" name="tag" value="Security" required)
      span 　セキュリティ
      br
      input(type="radio" name="tag" value="Other" required)
      span 　その他 （これを選択する場合は、「クイズの名前」に、言語などのtagの代わりとなるものを入力してください。）
      input(type="hidden" name="tagvalue" id="tag-value")

    button(type="submit").btn.btn-info 以上の内容でクイズを編集する
  h3 危険な変更
  form(method="post", action=`/quiz/${quiz.quizId}?delete=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    button(type="submit").btn.btn-danger このクイズを削除する
  script(src="/javascripts/jquery-3.6.0.js") 
  script(defer, src="/javascripts/form.js")