extends layout

block content
  div.card.my-3 
    div.card-header
      h2 #{quiz.quizName}
      h4 クイズID #{quiz.quizId}
    div.card-body
      h3 問題:  #{quiz.question}
      h3 答え: #{quiz.answer}
      h3 タグ: #{quiz.tag}
    div.card-footer 
      p 作成者: #{quiz.createUser}
      p 更新日時 #{quiz.updatedAt}
      - var isMineOrAdmin = user.id === quiz.createdBy || user.id === adminGithub || user.id === adminGoogle 
      if isMineOrAdmin
        div
          a(href=`/quiz/${quiz.quizId}/edit`).btn.btn-info このクイズを編集する