extends layout

block content
  h1 検索結果: #{tag}
     
  div.quiz-list
    - var hasQuizzes = quizzes.length > 0
    if (hasQuizzes)
      div.table-warp
        table.table
          tr
            th クイズ名
            th 更新日時
            th ⭐️
          each quiz in quizzes
            tr
              td
                a(href=`/quiz/${quiz.quizId}`) #{quiz.quizName}
              td #{quiz.updatedAt}
              td #{quiz.star}
    else 
      h4 クイズが見つかりませんでした

  form(method="post" action="/quiz/search").form#search
    input(type="search" name="search" placeHolder="検索したいタグを入力" required).form-control
    button(type="submit").btn.btn-outline-primary 検索